.demo-layout-transparent {
    background: url('what-the-hex-dark.png') center / cover;
    opacity: 0.3;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

/* Make sure tables are the fill width of the MDL grid cell. */
table {
    width: 100%;
}

/* Make sure MDL text field within tables fill the width. */
td .mdl-textfield {
    display: block;
    width: auto;
}

/* Use a light grey background color for tbale heading cells. */
.mdl-data-table thead tr th {
    background-color: #DDD;
}

/* Position the date in headings floating off to the right. */
.observation-table .date {
    position: absolute;
    right: 15px;
    top: 33px;
}

#errorMessages {
    color: #d50000;
}

.front-photo{
    position: fixed;
    padding: 70px 70px 0px 0px;
}